* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

:root {
  --red: #aa0000;
}

body {
  font-size: 18px;
  font-family: halyard-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: var(--red);
}

.above-fold {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 40px;
  z-index: 9;
}

header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav a {
  text-decoration: none;
  position: relative;
  color: white;
  margin: 0 20px;
}

header .nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ca4545;
  transition: all 250ms ease;
}

header .nav a:hover::after {
  background: white;
}

.splash-image {
  position: relative;
  width: 100%;
  flex: 1 1;
  display: flex;
  background: url(../img/screen3overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h1 {
  color: white;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 120px;
  font-family: chantal, sans-serif;
  font-weight: 601;
  font-style: italic;
}

.above-fold footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .8;
}

.above-fold footer a {
  position: relative;
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin: 0 20px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .5px;
}

.above-fold footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: white;
  transition: all 250ms ease;
}

.above-fold footer a:hover::after {
  height: 3px;
}

.main {
  padding: 100px 0;
  background: #6e3e8e;
}

.geisha-list {
  margin: 0 100px;
  text-align: center;
}

.geisha-list li {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  position: relative;
  background-color: #8650AC;
}

.geisha-image {
  width: 100%;
  height: 100%;
  background-size: 60%, 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: .24;
}

.collected .geisha-image {
  opacity: 1;
}

.geisha-list li .buying-price {
  position: absolute;
  bottom: 33px;
  left: 10px;
  background: #e0b7fb;
  border-radius: 3px;
  padding: 4px 12px 5px 12px;
  line-height: 14px;
  font-size: 14px;
  color: #703792;
  white-space: nowrap;
  transform: rotate(-2deg);
}

.geisha-list li .buying-price::before {
  content: "Buying for ";
}

.geisha-list li .buying-price::after {
  content: " keys";
}

.geisha-list li .effect-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 600;
  background: #6f3b90;
  border-radius: 3px;
  padding: 4px 12px 5px 12px;
  line-height: 14px;
  font-size: 14px;
  color: #dfb9f9;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
  text-align: left;
}

body > footer {
  background: #6e3e8e;
  display: flex;
  justify-content: center;
  color: #e0b9f9;
  padding: 0px 0 100px 0;
}

body > footer li {
  display: inline-flex;
  margin: 0 30px;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

body > footer li a {
  color: #fff;
  font-family: chantal;
  text-decoration: none;
  font-size: 28px;
  display: block;
  font-weight: 500;
  margin-top: 5px;
}
