* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

:root {
  --collectors: #AA0000;
  --collectors-dark: #800000;
  --collectors-bright: #DB0000;
  --collectors-rgb: 170, 0, 0;
  --decorated: #FAFAFA;
  --decorated-rgb: 250, 250, 250;
  --unusual: #8650AC;
  --unusual-rgb: 134, 80, 172;
  --unusual-bright: #EED7FE;
  --unusual-light: #B783DD;
  --unusual-dark: #6C3d8C;
  --genuine: #4D7455;
  --genuine-dark: #3D5C43;
  --genuine-bright: #7EA987;
  --unique: #FFD700;
  --unique-dark: #C7A900;
  --unique-bright: #FFE552;
}

body {
  font-size: 14px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*/// Header ///*/
header {
  padding-bottom: 150px;
  position: relative;
  background: linear-gradient(180deg, rgba(var(--collectors-rgb), .9) 160px, rgba(var(--collectors-rgb), .9) 160px, var(--unusual-dark)), url(../img/screen3.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 900px) {
  header {
    padding: 0 0 80px 0;
  }
}

nav {
  position: relative;
  z-index: 43;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  box-sizing: content-box;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  position: relative;
  color: var(--decorated);
  margin: 0 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  border-bottom: 2px solid #FFFFFF4D;
  transition: border 250ms ease;
}

nav a:hover {
  border-bottom-color: #FFF;
}

.cover {
  position: relative;
  text-align: center;
  font-size: 0;
}

@media (min-width: 900px) {
  .cover {
    height: 100%;
  }
}

.cover img {
  max-height: 500px;
  max-width: 100%;
}

@media (max-width: 900px) {
  .cover img {
    padding: 40px;
    margin: -40px 0;
  }
}

[class|="cover-title"] {
  position: absolute;
  font-size: 120px;
  font-family: chantal, sans-serif;
  font-weight: 601;
  font-style: italic;
  color: var(--decorated);
  height: 200px;
  line-height: 200px;
  left: 0;
  width: 100%;
}

@media (max-width: 700px) {
  [class|="cover-title"] {
    font-size: 80px;
  }
}

@media (max-width: 500px) {
  [class|="cover-title"] {
    font-size: 40px;
  }
}

.cover-title-top {
  top: -100px;
}

.cover-title-bottom {
  bottom: -100px;
}

/*/// Main ///*/
main {
  padding: 100px;
  padding-top: 0;
  background: var(--unusual-dark);
  text-align: center;
  font-size: 0;
}

.intro {
  max-width: 650px;
  margin: 0 auto;
  font-size: 25px;
  color: var(--decorated);
  font-weight: 400;
  padding-bottom: 100px;
}

.intro a {
  color: var(--decorated);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid rgba(var(--decorated-rgb), .4);
}

.sub {
  font-size: 18px;
  color: rgba(var(--decorated-rgb), .7);
  padding-top: 20px;
}

.geisha {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  position: relative;
  background-color: var(--unusual);
}

.unusual.geisha {
  box-shadow: inset 0 0 0 1px var(--unusual);
}

.collectors.geisha {
  background-color: var(--collectors)
}

.genuine.geisha {
  background-color: var(--genuine)
}

.unique.geisha {
  background-color: var(--unique)
}

.geisha:not(.collected) {
  background: rgba(var(--unusual-rgb), .2);
}

@media (max-width: 900px) {
  main {
    font-size: 0;
    padding: 100px 5px;
  }

  .geisha {
    width: calc((100% - 5px * 12) / 6);
    height: initial;
    padding-bottom: calc((100% - 5px * 12) / 6);
    margin: 5px;
  }

  .price {
    display: none;
  }
}

@media (max-width: 600px) {
  main {
    font-size: 0;
    padding: 100px 5px;
  }

  .geisha {
    width: calc((100% - 5px * 6) / 3);
    height: initial;
    padding-bottom: calc((100% - 5px * 6) / 3);
    margin: 5px;
  }
}

.geisha-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: 60%, 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  opacity: .25;
}

.geisha.collected .geisha-image {
  opacity: 1;
}

.effect, .price {
  position: absolute;
  border-radius: 3px;
  padding: 4px 12px 5px 12px;
  line-height: 13px;
  font-size: 12px;
  white-space: nowrap;
  text-align: left;
  font-weight: 600;
  background: var(--unusual-dark);
  color: var(--unusual-light);
}

.effect {
  bottom: 10px;
  left: 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 20px);
}

.collectors.geisha .effect {
  background: var(--collectors-dark);
  color: var(--collectors-bright);
}

.genuine.geisha .effect {
  background: var(--genuine-dark);
  color: var(--genuine-bright);
}

.unique.geisha .effect {
  background: var(--unique-dark);
  color: var(--unique-bright);
}

.price {
  top: 10px;
  right: 10px;
}

.geisha:hover .price {
  background: var(--unusual-bright);
  color: var(--unusual-dark);
}

.price::before {
  content: "Buying for ";
}

.price::after {
  content: " keys";
}

/*/// Footer ///*/
footer {
  background: var(--unusual-dark);
  display: flex;
  justify-content: center;
  color: var(--unusual-light);
  padding: 0px 0 100px 0;
}

footer li {
  display: inline-flex;
  margin: 0 30px;
  flex-direction: column;
  align-items: center;
}

footer li span {
  font-weight: 600;
}

footer li a {
  color: var(--decorated);
  font-family: chantal;
  text-decoration: none;
  font-size: 30px;
  display: block;
  font-weight: 500;
  margin-top: 5px;
}
