---
layout: default
title: geishaboy.tf
geishas:
  - {id: 6, name: "Green Confetti", collected: true}
  - {id: 7, name: "Purple Confetti", collected: true}
  - {id: 8, name: "Haunted Ghosts", collected: true}
  - {id: 9, name: "Green Energy", collected: true}
  - {id: 10, name: "Purple Energy"}
  - {id: 11, name: "Circling TF Logo"}
  - {id: 12, name: "Massed Flies"}
  - {id: 13, name: "Burning Flames", collected: true}
  - {id: 14, name: "Scorching Flames", collected: true}
  - {id: 17, name: "Sunbeams", collected: true}
  - {id: 29, name: "Stormy Storm"}
  - {id: 33, name: "Orbiting Fire"}
  - {id: 34, name: "Bubbling"}
  - {id: 35, name: "Smoking", collected: true}
  - {id: 36, name: "Steaming", collected: true}
  - {id: 38, name: "Cloudy Moon", collected: true}
  - {id: 56, name: "Kill-a-Watt", collected: true}
  - {id: 57, name: "Terror-Watt", collected: true}
  - {id: 58, name: "Cloud 9"}
  - {id: 70, name: "Time Warp", collected: true}
  - {id: 15, name: "Searing Plasma"}
  - {id: 16, name: "Vivid Plasma"}
  - {id: 18, name: "Circling Peace Sign"}
  - {id: 19, name: "Circling Heart", collected: true}
  - {id: 30, name: "Blizzardy Storm", collected: true}
  - {id: 31, name: "Nuts n' Bolts"}
  - {id: 32, name: "Orbiting Planets"}
  - {id: 37, name: "Flaming Lantern", collected: true}
  - {id: 39, name: "Cauldron Bubbles"}
  - {id: 40, name: "Eerie Orbiting Fire"}
  - {id: 43, name: "Knifestorm", price: 150}
  - {id: 44, name: "Misty Skull"}
  - {id: 45, name: "Harvest Moon", collected: true}
  - {id: 46, name: "It's A Secret To Everybody", collected: true}
  - {id: 47, name: "Stormy 13th Hour"}
  - {id: 59, name: "Aces High"}
  - {id: 60, name: "Dead Presidents"}
  - {id: 61, name: "Miami Nights", collected: true}
  - {id: 62, name: "Disco Beat Down", collected: true}
  - {id: 63, name: "Phosphorous", collected: true}
  - {id: 64, name: "Sulphurous", collected: true}
  - {id: 65, name: "Memory Leak", collected: true}
  - {id: 66, name: "Overclocked", collected: true}
  - {id: 67, name: "Electrostatic", collected: true}
  - {id: 68, name: "Power Surge", collected: true}
  - {id: 69, name: "Anti-Freeze"}
  - {id: 71, name: "Green Black Hole"}
  - {id: 72, name: "Roboactive"}
  - {id: 73, name: "Arcana", collected: true}
  - {id: 74, name: "Spellbound", collected: true}
  - {id: 75, name: "Chiroptera Venenata", collected: true}
  - {id: 76, name: "Poisoned Shadows"}
  - {id: 77, name: "Something Burning This Way Comes"}
  - {id: 78, name: "Hellfire", collected: true}
  - {id: 79, name: "Darkblaze", collected: true}
  - {id: 80, name: "Demonflame"}
  - {id: 81, name: "Bonzo The All-Gnawing", collected: true}
  - {id: 82, name: "Amaranthine", collected: true}
  - {id: 83, name: "Stare From Beyond", collected: true}
  - {id: 84, name: "The Ooze", collected: true}
  - {id: 85, name: "Ghastly Ghosts Jr", collected: true}
  - {id: 86, name: "Haunted Phantasm Jr"}
  - {id: 87, name: "Frostbite", collected: true}
  - {id: 88, name: "Molten Mallard", collected: true}
  - {id: 89, name: "Morning Glory", collected: true}
  - {id: 90, name: "Death at Dusk", collected: true}
  - {id: 108, name: "Tesla Coil"}
  - {id: 107, name: "Neutron Star", collected: true}
  - {id: 109, name: "Starstorm Insomnia"}
  - {id: 110, name: "Starstorm Slumber"}
---
{% for geisha in page.geishas %}
  {% if geisha.collected %}
    {% increment geishas_collected %}
  {% else %}
    {% increment geishas_buying %}
  {% endif %}
{% endfor %}
