---
layout: default
geishas_available: 64
geishas:
  - {id: 6, effect: "Green Confetti", collected: true}
  - {id: 7, effect: "Purple Confetti", collected: true}
  - {id: 8, effect: "Haunted Ghosts", collected: true}
  - {id: 9, effect: "Green Energy", collected: true}
  - {id: 10, effect: "Purple Energy"}
  - {id: 11, effect: "Circling TF Logo"}
  - {id: 12, effect: "Massed Flies"}
  - {id: 13, effect: "Burning Flames", collected: true}
  - {id: 14, effect: "Scorching Flames", collected: true}
  - {id: 17, effect: "Sunbeams", collected: true}
  - {id: 29, effect: "Stormy Storm"}
  - {id: 33, effect: "Orbiting Fire"}
  - {id: 34, effect: "Bubbling"}
  - {id: 35, effect: "Smoking", collected: true}
  - {id: 36, effect: "Steaming", collected: true}
  - {id: 38, effect: "Cloudy Moon", collected: true}
  - {id: 56, effect: "Kill-a-Watt", collected: true}
  - {id: 57, effect: "Terror-Watt", collected: true}
  - {id: 58, effect: "Cloud 9"}
  - {id: 70, effect: "Time Warp", collected: true}
  - {id: 15, effect: "Searing Plasma"}
  - {id: 16, effect: "Vivid Plasma"}
  - {id: 18, effect: "Circling Peace Sign"}
  - {id: 19, effect: "Circling Heart", collected: true}
  - {id: 30, effect: "Blizzardy Storm", collected: true}
  - {id: 31, effect: "Nuts n' Bolts"}
  - {id: 32, effect: "Orbiting Planets"}
  - {id: 37, effect: "Flaming Lantern", collected: true}
  - {id: 39, effect: "Cauldron Bubbles", price: "~25"}
  - {id: 40, effect: "Eerie Orbiting Fire", collected: true}
  - {id: 43, effect: "Knifestorm", price: "150+"}
  - {id: 44, effect: "Misty Skull", price: "~90"}
  - {id: 45, effect: "Harvest Moon", collected: true}
  - {id: 46, effect: "It's A Secret To Everybody", collected: true}
  - {id: 47, effect: "Stormy 13th Hour", price: "150+"}
  - {id: 59, effect: "Aces High"}
  - {id: 60, effect: "Dead Presidents"}
  - {id: 61, effect: "Miami Nights", collected: true}
  - {id: 62, effect: "Disco Beat Down", collected: true}
  - {id: 63, effect: "Phosphorous", collected: true}
  - {id: 64, effect: "Sulphurous", collected: true}
  - {id: 65, effect: "Memory Leak", collected: true}
  - {id: 66, effect: "Overclocked", collected: true}
  - {id: 67, effect: "Electrostatic", collected: true}
  - {id: 68, effect: "Power Surge", collected: true}
  - {id: 69, effect: "Anti-Freeze", price: "~55"}
  - {id: 71, effect: "Green Black Hole"}
  - {id: 72, effect: "Roboactive"}
  - {id: 73, effect: "Arcana", collected: true}
  - {id: 74, effect: "Spellbound", collected: true}
  - {id: 75, effect: "Chiroptera Venenata", collected: true}
  - {id: 76, effect: "Poisoned Shadows", price: "120+"}
  - {id: 77, effect: "Something Burning This Way Comes", price: "120+"}
  - {id: 78, effect: "Hellfire", collected: true}
  - {id: 79, effect: "Darkblaze", collected: true}
  - {id: 80, effect: "Demonflame", price: "150+"}
  - {id: 81, effect: "Bonzo The All-Gnawing", collected: true}
  - {id: 82, effect: "Amaranthine", collected: true}
  - {id: 83, effect: "Stare From Beyond", collected: true}
  - {id: 84, effect: "The Ooze", collected: true}
  - {id: 85, effect: "Ghastly Ghosts Jr", collected: true}
  - {id: 86, effect: "Haunted Phantasm Jr", price: "60+"}
  - {id: 87, effect: "Frostbite", collected: true}
  - {id: 88, effect: "Molten Mallard", collected: true}
  - {id: 89, effect: "Morning Glory", collected: true}
  - {id: 90, effect: "Death at Dusk", collected: true}
  - {id: 108, effect: "Tesla Coil", price: "~30"}
  - {id: 107, effect: "Neutron Star", collected: true}
  - {id: 109, effect: "Starstorm Insomnia", price: "~30"}
  - {id: 110, effect: "Starstorm Slumber", price: "~30"}
  - {quality: "Collector's", collected: true}
  - {quality: "Genuine", collected: true}
  - {quality: "Unique", collected: true}
---
{% for geisha in page.geishas %}
  {% if geisha.collected and geisha.id %}
    {% increment geishas_collected %}
  {% endif %}
{% endfor %}
