---
---

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:500|Noto+Serif+JP&subset=japanese");

/* ——— Reset ——— */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.sup {
  font-size: 0.6em;
  line-height: 1em;
  vertical-align: super;
}

.no-break {
  white-space: nowrap;
}

/* ——— Variables ——— */

:root {
  /* Stamp */
  --stamp-size: {{ site.grid_size }}px;

  /* Color */
  --black:       hsl(38, 8%, 20%);
  --darker-gray: hsl(38, 8%, 35%);
  --dark-gray:   hsl(38, 8%, 60%);
  --gray:        hsl(38, 8%, 70%);
  --white:       hsl(38, 8%, 85%);

  --red:         hsl(12, 78%, 79%);
  --blue:        hsl(222, 78%, 79%);

  /* Font */
  --font-size: 16px;

  --font-serif: "Noto Serif JP", serif;
  --font-weight-serif: 400;

  --font-sans-serif: "Noto Sans JP", sans-serif;
  --font-weight-sans-serif: 500;

  --serif-font: var(--font-weight-serif) var(--font-size)/calc(var(--font-size) * 1.5) var(--font-serif);
  --sans-serif-font: var(--font-weight-sans-serif) var(--font-size)/calc(var(--font-size) * 1.5) var(--font-sans-serif);

  --hero-font: var(--font-weight-serif) calc(var(--font-size) * 2.50)/calc(var(--font-size) * 3.125) var(--font-serif);
  --tagline-font: var(--font-weight-serif) calc(var(--font-size) * 1.25)/calc(var(--font-size) * 1.25) var(--font-serif);
  --fine-print-font: var(--font-weight-sans-serif) calc(var(--font-size) * 0.8)/calc(var(--font-size) * 1.2) var(--font-sans-serif);
}

/* ——— html/body ——— */

html, body {
  width: 100%;
}

html {
  background: var(--black);
  cursor: default;
}

/* ——— Main ——— */

main.album {
  display: grid;
  justify-content: center;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: var(--grid-template-rows);
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);

  padding: var(--grid-outer-padding);

  background: var(--black);
}

/* ——— Notes ——— */

header.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-column-start: var(--grid-column-start);
  grid-column-end: var(--grid-column-end);
  grid-row-start: var(--grid-row-start);
  grid-row-end: var(--grid-row-end);

  padding: 0 60px;
  text-align: center;
}

h1 {
  font: var(--tagline-font);
  text-transform: uppercase;
  color: var(--white);
}

h1 span {
  margin: 0 10px;
}

header p {
  font: var(--hero-font);
  color: var(--white);
  padding-top: 30px;
}

/* ——— Navigation ——— */

nav {
  font-size: 0;
  margin-top: 50px;
  margin-bottom: -20px;
}

nav a {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;

  padding: 10px 30px 11px 30px;
  margin: 0 14px 20px 14px;

  font: var(--sans-serif-font);
  color: var(--white);

  box-shadow: 3px 3px 0 0 var(--white);
  border: 2px solid var(--white);
  transition: all 125ms ease-in;
}

nav a:hover {
  top: 3px;
  left: 3px;
  box-shadow: 0 0 0 0 var(--white);
}

/* ——— Stamps ——— */

.effect {
  width: var(--stamp-size);
  height: var(--stamp-size);
  position: relative;
}

.effect canvas.hidden_canvas {
  opacity: 0;
  transform: rotate(0) scale(1.1) !important;
}

.effect canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 43;
  transition: all 350ms ease-in;
}

.effect-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--dark-gray);
  position: absolute;
  left: 0;
  top: 0;
  font: var(--sans-serif-font);
  padding: 40px;
  text-align: center;
  z-index: 9;
  border: 2px dashed #212325;
  border-radius: 10px;
}

/* ——— Fine Print ——— */

footer.fine-print {
  display: flex;
  font: var(--fine-print-font);
  color: var(--dark-gray);
  padding-bottom: 50px;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

footer.fine-print span {
  margin: 0 10px;
}

footer.fine-print a {
  color: var(--gray);
  text-decoration: underline;
}

/* ——— Media Query Overwrites ——— */

/* Mobile */
@media (max-width: 1320px) {
  :root {
    /* Stamp */
    --stamp-size: 100%;

    /* Font */
    --font-size: 12px;
    --hero-font: var(--font-weight-serif) calc(var(--font-size) * 2)/calc(var(--font-size) * 2.6) var(--font-serif);

    /* Grid */
    --grid-template-columns: repeat(3, 1fr);
    --grid-template-rows: auto;

    --row-gap: 10px;
    --column-gap: 10px;
    --grid-outer-padding: 10px;

    --grid-column-start: 1;
    --grid-column-end: 4;
    --grid-row-start: 1;
    --grid-row-end: 2;
  }

  header.notes {
    padding: 50px 20px;
  }

  nav a {
    display: block;
  }

  .effect {
    padding-bottom: 100%;
  }

  footer.fine-print {
    padding: 50px 20px;
    flex-direction: column;
  }
}

/* Desktop */
@media (min-width: 1320px) {
  :root {
    --grid-template-columns: repeat(auto-fill, {{ site.grid_size }}px);
    --grid-template-rows: {{ site.grid_size }}px;

    --row-gap: 30px;
    --column-gap: 30px;
    --grid-outer-padding: 100px;

    --grid-column-start: 2;
    --grid-column-end: 5;
    --grid-row-start: 2;
    --grid-row-end: 5;
  }
}

@media (min-width: 1550px) {
  :root {
    --grid-column-start: 2;
    --grid-column-end: 6;
    --grid-row-start: 2;
    --grid-row-end: 4;
  }
}

@media (min-width: 1780px) {
  :root {
    --grid-column-start: 2;
    --grid-column-end: 7;
    --grid-row-start: 2;
    --grid-row-end: 4;
  }
}

@media (min-width: 2010px) {
  :root {
    --grid-column-start: 3;
    --grid-column-end: 7;
    --grid-row-start: 2;
    --grid-row-end: 4;
  }
}

@media (min-width: 2240px) {
  :root {
    --grid-column-start: 3;
    --grid-column-end: 8;
    --grid-row-start: 2;
    --grid-row-end: 4;
  }
}

@media (min-width: 2470px) {
  :root {
    --grid-column-start: 4;
    --grid-column-end: 8;
    --grid-row-start: 2;
    --grid-row-end: 4;
  }
}
