<!doctype html>
<html>
  <head>
    <title>geishaboy.tf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/bqq2aau.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="https://steamcommunity.com/id/ptrckr">
            <svg class="steam-svg" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path d="M9.33034,22.97253l-1.85671-.76867a3.20521,3.20521,0,0,0,5.85513-.15579h0a3.20836,3.20836,0,0,0-4.09856-4.23862l1.91935.79442a2.36616,2.36616,0,0,1-1.81921,4.36867Z"></path><path d="M14.98389,0A15.01131,15.01131,0,0,0,0,14.00343l.00645.01091.00011-.00189,8.06861,3.318a4.17777,4.17777,0,0,1,2.462-.68111l3.6745-5.332c-.00129-.02369-.00129-.04893-.00129-.07416a5.70355,5.70355,0,1,1,5.70354,5.70875c-.04254,0-.08636-.00129-.12889-.00257l-5.25757,3.75321A4.163,4.163,0,0,1,6.302,21.71845L.61771,19.37554A15.01475,15.01475,0,1,0,14.98389,0Z"></path><path d="M23.715,11.24317a3.80043,3.80043,0,1,0-3.80107,3.80318A3.80653,3.80653,0,0,0,23.715,11.24317Zm-6.64833-.00579a2.85435,2.85435,0,1,1,2.8537,2.85618A2.85631,2.85631,0,0,1,17.06667,11.23738Z"></path></svg>
            Steam
          </a></li>
          <li><a href="https://backpack.tf/profiles/76561198060233163">
            <svg class="backpack-svg" xmlns="http://www.w3.org/2000/svg" width="40" height="30" viewBox="0 0 40 30"><path  d="M11.95507,0,0,12.27307,13.68586,30H40V0ZM34.64783,7.33733a5.22425,5.22425,0,0,0-1.54845-.21689,1.99488,1.99488,0,0,0-1.65027.72227,3.06041,3.06041,0,0,0-.58167,1.97677v.77529h3.06895v3.5366H30.89812V25.76454H26.09433V14.13137H20.88891v5.33616a3.76387,3.76387,0,0,0,.44179,2.11758,1.66478,1.66478,0,0,0,1.44949.61245,5.3727,5.3727,0,0,0,1.4556-.15522l.03145,3.62989a9.03011,9.03011,0,0,1-3.13181.43313,4.96648,4.96648,0,0,1-3.54624-1.29448q-1.37951-1.29461-1.38053-4.56841v-6.1111H14.16379v-3.5366h2.04486V7.7412l4.68026-1.27206v4.12564h5.20542v-.55771a8.16256,8.16256,0,0,1,.75918-3.52076A5.05213,5.05213,0,0,1,29.093,4.11978a6.73352,6.73352,0,0,1,3.1994-.78385,10.57748,10.57748,0,0,1,2.5105.30949Z"></path></svg>
            Backpack.tf
          </a></li>
          <li><a href="{{ page.trade_link }}">Send trade offer</a></li>
        </ul>
      </nav>
      <div class="cover">
        <h1 class="cover-title-top">Geisha Boy</h1>
        <img src="img/screen3.jpg" />
        <h1 class="cover-title-bottom">Collector</h1>
      </div>
    </header>
    <main>
      <div class="intro">
        <p>I'm collecting all unusual Geisha Boys. If you're selling one which I'm not owning send me a <a href="https://steamcommunity.com/tradeoffer/new/?partner=99967435&token=eCs5JlvU" target="_blank">trade offer</a> or <a href="https://steamcommunity.com/id/ptrckr">add me on steam</a> to negotiate.<p>
        <p class="sub">The collection consists of {{ geishas_collected }} of {{ page.geishas_available }} <span title="Known to backpack.tf.">available*</span> Geishas, that's {{ 100.0 | divided_by: page.geishas_available | times: geishas_collected | round }}%, last updated on {{ "now" | date: "%Y-%m-%d" }}.</p>
      </div>
        <div class="geisha-list">
        {% for geisha in page.geishas %}
          <article class="{% if geisha.quality %}{{ geisha.quality | downcase | replace: "'", "" }}{% else %}unusual{% endif %} geisha {% if geisha.collected %}collected{% endif %}">
            {% if geisha.item_id %}<a href="https://backpack.tf/item/{{ geisha.item_id }}">{% endif %}
              <div class="geisha-image" style="background: url(img/geishaboy/{{ "blu,red" | split: "," | sample }}.png){% if geisha.id %}, url(img/particles/{{ geisha.id }}_188x188.png){% endif %};"></div>
              {% if geisha.price %}
                <span class="price">{{ geisha.price }}</span>
              {% endif %}
              {% unless geisha.collected %}
                <a class="trade-button" target="_blank" href="{{ page.trade_link }}">Send Trade</a>
              {% endunless %}
              <span class="effect">{% if geisha.effect %}{{ geisha.effect }}{% else %}{{ geisha.quality }}{% endif %}</span>
            {% if geisha.item_id %}</a>{% endif %}
          </article>
        {% endfor %}
      </div>
    </main>
    <footer>
      <ul>
        <li>
          <span>Particle images by</span>
          <a href="https://backpack.tf/developer/particles">backpack.tf</a>
        </li>
        <li>
          <span>Another addiction by</span>
          <a href="https://i.blinkoft.com">blinkoft.com</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
