<!doctype html>
<html>
  <head>
    <title>geishaboy.tf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/bqq2aau.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="https://steamcommunity.com/id/ptrckr">Steam</a></li>
          <li><a href="https://backpack.tf/profiles/76561198060233163">Backpack.tf</a></li>
          <li><a href="https://steamcommunity.com/tradeoffer/new/?partner=99967435&token=eCs5JlvU">Send trade offer</a></li>
        </ul>
      </nav>
      <div class="cover">
        <h1 class="cover-title-top">Geisha Boy</h1>
        <img src="img/screen3.jpg" />
        <h1 class="cover-title-bottom">Collector</h1>
      </div>
    </header>
    <main>
      <div class="intro">
        <p>I'm collecting all unusual Geisha Boys. If you're selling one that I'm buying send me a <a href="https://steamcommunity.com/tradeoffer/new/?partner=99967435&token=eCs5JlvU" target="_blank">trade offer</a> or <a href="https://steamcommunity.com/id/ptrckr">add me on steam</a> to negotiate.<p>
        <p class="sub">The collection consists of {{ geishas_collected }} of {{ page.geishas_available }} available Geishas, that's {{ 100.0 | divided_by: page.geishas_available | times: geishas_collected | round }}%, last updated on {{ "now" | date: "%Y-%m-%d" }}.</p>
      </div>
      {% for geisha in page.geishas %}
        <article class="{% if geisha.quality %}{{ geisha.quality }}{% elsif %}unusual{% endif %} geisha {% if geisha.collected %}collected{% endif %}">
          <div class="geisha-image" style="background: url(img/geishaboy/{{ "blu,red" | split: "," | sample }}.png){% if geisha.id %}, url(img/particles/{{ geisha.id }}_380x380.png){% endif %};"></div>
          {% if geisha.price %}
            <span class="price">{{ geisha.price }}</span>
          {% endif %}
          <span class="effect">{% if geisha.effect %}{{ geisha.effect }}{% else %}{{ geisha.quality }}{% endif %}</span>
        </article>
      {% endfor %}
    </main>
    <footer>
      <ul>
        <li>
          <span>Particle images by</span>
          <a href="https://backpack.tf/developer/particles">backpack.tf</a>
        </li>
        <li>
          <span>Another addiction by</span>
          <a href="https://i.blinkoft.com">blinkoft.com</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
