<!doctype html>
<html>
  <head>
    <title>geishaboy.tf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/bqq2aau.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="https://steamcommunity.com/id/ptrckr">Steam</a></li>
          <li><a href="https://backpack.tf/profiles/76561198060233163">Backpack.tf</a></li>
          <li><a href="https://backpack.tf/profiles/76561198060233163">Send trade offer</a></li>
        </ul>
      </nav>
      <div class="cover">
        <h1 class="cover-title-top">Geisha Boy</h1>
        <img src="img/screen3.jpg" />
        <h1 class="cover-title-bottom">Collector</h1>
      </div>
    </header>
    <main>
      {% for geisha in page.geishas %}
        <article class="geisha {% if geisha.collected %}collected{% endif %}">
          <div class="geisha-image" style="background: url(img/geishaboy/{{ "blu,red" | split: "," | sample }}.png), url(img/particles/{{ geisha.id }}_380x380.png);"></div>
          {% if geisha.price %}
            <span class="price">{{ geisha.price }}</span>
          {% endif %}
          <span class="effect">{{ geisha.name }}</span>
        </article>
      {% endfor %}
    </main>

    <footer>
      <ul>
        <li>
          <span>Particle images by</span>
          <a href="https://backpack.tf/developer/particles">backpack.tf</a>
        </li>
        <li>
          <span>Another addiction by</span>
          <a href="https://i.blinkoft.com">i.blinkoft.com</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
