/* Reset/Defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.lineheight_reset {
  line-height: 0;
}

li {
  list-style-type: none;
}

a:not(:empty) {
  position: relative;
  color: inherit;
}

a:not(:empty):hover {
  text-decoration: unset;
  color: var(--white);
}

a:not(:empty):hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: calc(100% + 10px);
  height: 100%;
  background: var(--highlight);
  border-radius: var(--global-radius);
  z-index: -1;
}

/* Variables */

:root {
  /* Font Size/Lineheight */
  --fs-base: 14px;
  --lh-base: 22px;
  --fs-monotalic-xsmall: calc(var(--fs-base) * 0.85);
  --fs-paralucent-xlarge: calc(var(--fs-base) * 3.857);
  --lh-paralucent-xlarge: calc(var(--lh-base) * 2.727);
  --fs-paralucent-large: calc(var(--fs-base) * 2.857);
  --lh-paralucent-large: calc(var(--lh-base) * 2.272);
  --fs-monotalic-xlarge: calc(var(--fs-base) * 1.571);
  --lh-monotalic-xlarge: calc(var(--lh-base) * 1.454);
  --fs-monotalic-large: calc(var(--fs-base) * 1.285);
  --lh-monotalic-large: calc(var(--lh-base) * 1.272);

  /* Fonts */
  --paralucent-medium: 400 100% paralucent;
  --paralucent-heavy: 700 100% paralucent;
  --chantal: 600 italic 100% chantal;
  --monotalic-normal: 400 100% monotalic;
  --monotalic-medium: 500 100% monotalic;

  /* Colors */
  --subtle-highlight: #FFD9E6;
  --highlight: #F00; /*#FF0055;*/
  --dark-highlight: hsl(339, 22%, 63%);
  --black: #000;
  --white: #FFF;
  --gray: hsl(0, 0%, 50%);
  --dark-gray: hsl(0, 0%, 10%);

  --light-purple: hsl(275, 37%, 49%);
  --dark-purple: hsl(275, 37%, 29%);
  --desatured-purple: hsl(275, 10%, 9%);

  /* Misc */
  --global-radius: 3px;

  /* Sizing */
  --container-width: 900px;
}

@media (max-width: 800px) {
  :root {
    --fs-base: 8px;
    --lh-base: 14px;
  }
}

/* Base */

html {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

body {
  font: var(--monotalic-normal);
  background: var(--black);
  cursor: default;
}

/* Container */

.container {
  position: relative;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9;
}

:root {
  --horizontal-container-padding: 0;
}

@media (max-width: 800px) {
  :root {
      --horizontal-container-padding: 30px;
  }

  .container {
    padding: 50px var(--horizontal-container-padding);
  }
}

.note {
    position: absolute;
    bottom: 0;
    font-size: var(--fs-monotalic-xsmall);
    opacity: .2;
    cursor: help;
    left: 0;
    right: 0;
    padding: 20px var(--horizontal-container-padding);
}

.note:hover {
  transition: opacity 250ms ease-out;
  opacity: 1;
}

.bright {
  background: var(--white);
  color: var(--black);
}

.dark {
  background: var(--black);
  color: var(--white);
}

/* Header */

header .container {
  max-width: 650px;
}

.flag {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: var(--global-radius);
  overflow: hidden;
}

.flag .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 42%;
  padding-bottom: 42%;
  transform: translate3d(-50%, -50%, 0);
  background: var(--highlight);
  opacity: .7;
  border-radius: 100px;
}

h1 {
  font: var(--paralucent-heavy);
  font-size: var(--fs-paralucent-xlarge);
  line-height: var(--lh-paralucent-xlarge);
  margin-bottom: 16px;
}

.intro {
  font-size: var(--fs-monotalic-xlarge);
  line-height: var(--lh-monotalic-xlarge);
  color: var(--gray);
}

/* Main */

main {
  border-bottom: 1px solid var(--dark-gray);
}

h2 {
  font: var(--paralucent-heavy);
  font-size: var(--fs-paralucent-large);
  line-height: var(--lh-paralucent-large);
  margin-bottom: 40px;
}

h2.with_text {
  margin-bottom: 20px;
}

h2.with_text + span {
  max-width: 550px;
  font-size: var(--fs-monotalic-large);
  line-height: var(--lh-monotalic-large);
  color: var(--gray);
  margin-bottom: 40px;
}

:root {
  --collection-padding: 10px;
  --collection-columns: 8;
  --collection-li-height: 90px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(var(--collection-columns), 1fr);
  grid-gap: var(--collection-padding);
  width: 100%;
}

@media (max-width: 800px) {
  :root {
    --collection-padding: 5px;
    --collection-columns: 3;
    --collection-li-height: 70px;
  }
}

.collection li {
  position: relative;
  line-height: 0;
  cursor: pointer;
  border-radius: var(--global-radius);
  background: var(--desatured-purple);
  height: var(--collection-li-height);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.collection li::after {
  content: attr(data-effect);
  position: absolute;
  bottom: -18px;
  left: 0;
  white-space: nowrap;
  background: #854bad;
  display: block;
  height: 20px;
  border-radius: 3px;
  line-height: 20px;
  padding: 0 10px;
  z-index: 10;
  color: #fff;
  overflow: hidden;
  transform: scale(0);
  border-top-left-radius: 0;
  width: 100%;
  box-sizing: border-box;
  border-top-right-radius: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: var(--fs-monotalic-xsmall);
}

.collection li:hover {
  box-shadow: inset 0 0 0 2px var(--light-purple);
  background-color: var(--dark-purple);
}

.collection li:hover::after {
  transform: scale(1);
}

.collection li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(img/geisha.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Missing Collection */

.missing {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.missing li {
  position: relative;
  font: var(--paralucent-medium);
  border-radius: var(--global-radius);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

.missing li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--desatured-purple);
  z-index: 5;
  opacity: .9;
  border-radius: var(--global-radius);
}

.missing li:hover::before {
  box-shadow: inset 0 0 0 2px var(--light-purple),
              inset 0 0 0 52px var(--dark-purple);
}

@media (max-width: 800px) {
  .missing {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

h3 {
  font: var(--paralucent-heavy);
  margin-bottom: 2px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  position: relative;
  z-index: 10;
}

.price {
  opacity: .7;
  z-index: 10;
}

/* Footer */

footer {
  background: var(--subtle-highlight);
  color: var(--dark-highlight);
  position: relative;
  overflow: hidden;
}

@keyframes hue_rotate {
  from {
    filter: hue-rotate(0deg);
  } to {
    filter: hue-rotate(360deg);
  }
}

footer::before {
  content: "";
  width: 102%;
  height: 102%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: var(--subtle-highlight);
  z-index: 100;
  mix-blend-mode: difference;
  transition: all 250ms ease-out;
  transform-origin: top;
  animation: hue_rotate 10s infinite alternate;
  pointer-events: none;
}

@media (min-width: 800px) {
  footer .container {
    padding: 80px 0;
  }
}

footer nav * {
  margin: 0 20px;
}

@media (max-width: 800px) {
  footer nav * {
    margin: 0 10px;
  }
}

footer nav span {
  opacity: .6;
}

footer blockquote {
  padding: 40px 0 30px;
  font: var(--chantal);
  font-size: calc(var(--fs-base) * 3.857);
  line-height: calc(var(--lh-base) * 2.727);
  color: var(--highlight);
  transform: rotate(-2deg);
}

@media (max-width: 800px) {
  footer blockquote {
    font-size: calc(var(--fs-base) * 5);
    padding: 25px 0 20px;
    margin: 0 calc(var(--horizontal-container-padding) * -1);
  }
}

.credits {
  opacity: .6;
  transition: opacity 250ms ease-out;
}

.credits:hover {
  opacity: 1;
}

.credits li:not(:last-child) {
  margin-bottom: 2px;
}
